
{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">
  
  {% for post in page.blog.most_recent_blog_posts limit:10 offset:0 %}
<div style="font-weight: bold; font-size: 16px;"><a href="{{ post.url }}">{{ post.headline }}</a></div>
<div class="byline">{{ post.published_at | date: '%b %d, %Y' }}</div>
<div class="blog_teaser">{{ post.blog_post.content | strip_html | truncatewords:50 }}</div>
<div class="continue_reading"><a class="link-arrow" href="{{ post.url }}">Read more</a></div>
<hr />
{% endfor %}

  {% include "child_pages_tag_listing" %}
  
  {{ page.blog.most_recent_blog_posts | paginate prev_label: "&laquo;" next_label: "&raquo;" | replace:'<div class="pagination">','<nav class="pagination-container">' | replace:'<ul>','<ul class="pagination">' | replace:'</div>','</nav>' }}
</div>
